@{
    ViewData["Title"] = "Home Page";
}

<p class="text-center text-muted">Av'el'Raan game</p>
<div class="container mt-3 footer-border">
    @* Create player or login row *@
    <div id="createPlayerOrLogin">
        <div class="row mt-2">
            <div class="col d-flex justify-content-center align-items-center">
                <p class="mb-0 text-muted">Create player</p>
            </div>
        </div>
        <div class="row mt-2">
            <div class="col d-inline-flex justify-content-center align-items-center">
                <input id="name" class="input-with-color w-25 px-2 rounded-2" title="name your player" placeholder="name ..." value="" /> 
                <button onclick="createPlayer()" class="btn btn-sm btn-outline-secondary ms-2">Create</button>
            </div>
        </div>
        <div class="row mt-2 text-center">
            <p class="mb-0 text-muted">or...</p>
            <p class="mb-0 text-muted">use your session token</p>
        </div>
        <div class="row mt-2">
            <div class="col d-inline-flex justify-content-center align-items-center">
                <input id="session" class="input-with-color w-25 px-2 rounded-2" title="name your player" placeholder="session id ..." value="" />
                <button class="btn btn-sm btn-outline-secondary ms-2">Login</button>
            </div>
        </div>
    </div>
    <div id="showSessionToken">
        <div class="row mt-2 text-center">
            <p id="playerName" class="mb-0 text-muted"></p>
            <p id="sessionToken" class="mb-0 text-muted"></p>
            <div>
                <button onclick="clearLocalStorage()">clear</button>
                <button onclick="test()">test</button>
            </div>
        </div>
    </div>
</div>


<script>
    const test = () => {
        console.log(getPlayerId());
    }

    const clearLocalStorage = () => {
        localStorage.clear();
        window.location.reload();
    }

    const displayPlayerInfo = () => {
        $("#playerName").text(localStorage.getItem("playerName"));
        $("#sessionToken").text(localStorage.getItem("playerId"));
    };

    const showHideCreatePlayer = () => {
        var playerFromLocalStorage = localStorage.getItem("playerName");
        var sessionIdFromLocalStorage = localStorage.getItem("playerId");

        if (playerFromLocalStorage && sessionIdFromLocalStorage) {
            $("#createPlayerOrLogin").hide();
            displayPlayerInfo();
        } else {
            $("#showSessionToken").hide();
        }
        
    }

    const createPlayer = () => {
        var playerName = $("#name").val();

        if (!playerName) {
            return;
        }

        var url = `CreatePlayer/${playerName}`;

        $.ajax({
            type: 'POST',
            url: url,
            contentType: 'application/json',
            success: function (response) {
                
                localStorage.setItem("playerName", response.name);
                localStorage.setItem("playerId", response.id);

                window.location.reload();
            },
            error: function (xhr, status, error) {
                window.location.href = "/error?info=" + xhr.responseText;
            }
        });
    }

    // to run

    showHideCreatePlayer();
</script>
