@model Character;

@{
    ViewData["Title"] = "Home Page";
}

<div id="model" hidden value="@Model"></div>

<div class="text-center">
    <h3>some text goes here</h3>
    <p class="primary-gray my-1">@Model.Identity.Name</p>
    <p class="text-muted my-1">some other text goes here</p>
    <button onclick="logCharacter()" class="btn btn-outline-secondary primary-gray my-1">click</button>
</div>


<script>
    const logCharacter = () => {
        console.log('@Model.Identity.Name');
    }

</script>
