@model Characters;

@{
    ViewData["Title"] = "Home Page";
}

<p class="text-center text-muted">Av'el'Raan game</p>
<div class="container mt-3 footer-border">
    <div class="row mt-3 ">
        <div class="col flex-wrap d-flex justify-content-center align-items-center">
            <p>Known adventurers</p>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col d-flex justify-content-center align-items-center">
            @foreach (var characterPortrait in Model.CharactersPortraits)
            {
                <img src="@characterPortrait" style="width: 50px; height: 50px" class="rounded-2 p-0 m-2" />
            }
        </div>
    </div>
</div>


<script>
    
</script>
