@{
    ViewData["Title"] = "Home Page";
}

<head>
    <script src="~/js/site.js"></script>
</head>

<div class="text-center">
    <button id="button" class="btn btn-outline-secondary">click</button>
</div>
