<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Avelraangame</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Avelraangame3.styles.css" asp-append-version="true" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
</head>
<body style="background-color:#010504">
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light box-shadow mb-3" style="background-color:#7b8a8b">
            <div id="navbar" class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Avelraangame</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark pointer" onclick="navigateTo('/Character')">Character</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark pointer" onclick="navigateTo('/Townhall')">Townhall</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark pointer" onclick="navigateTo('/Privacy')">Privacy</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="footer-border footer text-muted">
        <div class="container">
            &copy; 2024 - Avelraangame3
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>

<script>
    // routes
    const navigateTo = (url) => {
        window.location.href = url;
    };

    const getPlayerId = () => {
        var playerId = localStorage.getItem("playerId");

        if(playerId) {
            return playerId;
        }   
    }

    const getCharacterId = () => {
        var characterId = localStorage.getItem("selectedCharacter");

        if(characterId) {
            return characterId;
        }
    }

    const getTargetId = () => {
        var targetId = localStorage.getItem("selectedTarget");

        if(targetId) {
            return targetId;
        }
    }

    const selectCharacter = (characterId) => {
        localStorage.setItem("selectedCharacter", characterId);
    }

    const selectItem = (itemId) => {
        localStorage.setItem("selectedItem", itemId);
    }

    const selectTarget = (targetId) => {
        localStorage.setItem("selectedTarget", targetId);
    }

    const deselectCharItem = () => {
        localStorage.removeItem("selectedItem");
        localStorage.removeItem("selectedCharacter"); 
        localStorage.removeItem("selectedTarget");
    }

    const hideLoading = () => {
        $(document).ready(() => {
            $("#spinner").hide(500);
        });
    }

    const showLoading = () => {
         $("#spinner").show();
    }

    const getModel = () => {
        var model = JSON.parse(localStorage.getItem("model"));

        if(model) {
            return model; 
        } else {
            return;
        }
    }

    const logModel = () => {
        var model = JSON.parse('@Html.Raw(Json.Serialize(Model))');
        localStorage.setItem("model", JSON.stringify(model));
        console.log(model);
    }

    const hideActions = () => {
        $('.actions').each(function() {
            $(this).hide();
        });
    }

    const hideNavbar = () => {
        var playerId = getPlayerId();

        if(!playerId) {
            $('#navbar').hide();
        }
    }


    // run on load
    $(document).ready(() => {

        document.addEventListener('keydown', function(event) {
        if (event.key === "Escape") {
            deselectCharItem();

            $('.selected-character1').each(function() {
                $(this).removeClass('selected-character1');
            });
            $('.selected-character2').each(function() {
                $(this).removeClass('selected-character2');
            });

            $('#actionsbar').slideUp(100);
        }
    });

        hideNavbar();
        hideLoading();
        deselectCharItem();
        logModel();
    });
</script>
