
@{
    ViewData["Title"] = "Create";
}

<div class="row">
    <div class="col-8">
        <div class="btn-group btn-group-sm" role="group" aria-label="Basic example">
            <button class="btn btn-secondary">Create</button>
            <button class="btn btn-outline-secondary" onclick="navigateTo('/Character/Details/' + getPlayerId())">Characters</button>
        </div>
    </div>
    <div class="col-4">
        <div id="spinner" class="spinner-grow text-secondary float-end" role="status" title="Loading...">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>
</div>

<div class="container mt-3 footer-border">
    <div id="characterCreate">
        <div class="row mt-2">
            <div class="col d-flex justify-content-center align-items-center">
                <p class="mb-0 text-muted">Character creation</p>
            </div>
        </div>
        <div class="row mt-2">
            <div class="col d-inline-flex justify-content-center align-items-center">
                <input id="name" class="input-with-color w-25 mt-2 p-0 ps-2 rounded-2" title="name your character" placeholder="name..." value=""/>
            </div>
        </div>
        <div class="row mt-2">
            <div class="col d-inline-flex justify-content-center align-items-center">
                <input id="portrait" class="input-with-color w-25 mt-2 p-0 ps-2 rounded-2" title="add a portrait" placeholder="portrait url..." value="" />
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-6">
                <button onclick="loadPortrait()" class="btn btn-outline-dark float-end">Show portrait</button>
            </div>
            <div id="portraitLocation" class="col-6">
            </div>
        </div>
        <div class="row mt-2">
            <div class="col d-inline-flex justify-content-center align-items-center">
                <select id="race" class="input-with-color form-select form-select-sm w-25 mt-2 p-0 ps-2" aria-label="Race">
                    <option value="" selected>Race</option>
                    <option value="Human">Human</option>
                    <option value="Elf">Elf</option>
                    <option value="Dwarf">Dwarf</option>
                </select>
            </div>
        </div>
        <div class="row mt-1">
            <div class="col d-flex justify-content-center align-items-center">
                <select id="culture" class="input-with-color form-select form-select-sm w-25 mt-2 p-0 ps-2" aria-label="Culture">
                    <option value="" selected>Culture</option>
                    <option value="Danarian">Danarian</option>
                    <option value="Highborn">Highborn</option>
                    <option value="Undermountain">Undermountain</option>
                </select>
            </div>
        </div>
        <div class="row mt-1">
            <div class="col d-flex justify-content-center align-items-center">
                <select id="spec" class="input-with-color form-select form-select-sm w-25 mt-2 p-0 ps-2" aria-label="Spec">
                    <option value="" selected>Specialization</option>
                    <option value="Warring">Warring</option>
                    <option value="Sorcery">Sorcery</option>
                    <option value="Tracking">Tracking</option>
                </select>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col d-flex justify-content-center align-items-center">
                <button onclick="createCharacter()" id="createBtn" class="btn btn-sm btn-outline-secondary primary-green">Create</button>
            </div>
        </div>
    </div>
    <div id="characterDone" style="display:none">
        <div class="row mt-2">
            <div class="col d-flex justify-content-center align-items-center">
                <p class="mb-0 text-muted">Done</p>
            </div>
        </div>
    </div>
</div>

<script>
    const loadPortrait = () => {
        var imageSrc = $("#portrait").val();
        var imageHtml = '';
        
        if (imageSrc) {
            imageHtml = '<img class="rounded-3" src="' + imageSrc + '" width="60" height="80" />';
        } else {
            imageHtml = 'Provide a URL first.'
        }  

        $("#portraitLocation").empty();
        $("#portraitLocation").append(imageHtml);
    }

    const createCharacter = () => {
        var name = $("#name").val();
        var portrait = $("#portrait").val();
        var race = $("#race").val();
        var culture = $("#culture").val();
        var spec = $("#spec").val();
        var playerId = getPlayerId();

        var data = {
            playerId: playerId,
            name: name,
            portrait: portrait,
            race: race,
            culture: culture,
            spec: spec
        }

        var url = "CreateCharacter"

        $.ajax({
            type: 'POST',
            url: url,
            contentType: 'application/json',
            data: JSON.stringify(data),
            success: function (response) {
                $('#characterCreate').slideUp(200)
                $('#characterDone').slideDown(400)
            },
            error: function (xhr, status, error) {
                window.alert(xhr.responseText);
            }
        });
    }
</script>