@* Character/Details *@
<div class="row">
    <div class="col-8">
        <div class="btn-group btn-group-sm" role="group" aria-label="Basic example">
            <a type="button" class="btn btn-outline-secondary" asp-controller="Character" asp-action="Upload">Upload</a>
            <a type="button" class="btn btn-outline-secondary" asp-controller="Character" asp-action="Create">Create</a>
            <a type="button" class="btn btn-secondary" asp-controller="Character" asp-action="Details">Characters</a>
        </div>
    </div>
    <div class="col-4">
        <div id="spinner" class="spinner-grow text-secondary float-end" role="status" title="Loading...">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>
</div>

<div class="container mt-3 footer-border" id="showContent" style="display:none"></div>
<div class="container mt-3 footer-border" id="content" style="display:none">
    <div class="row mt-3">
        <div class="col-3">
            <ul>
                <li class="text-muted">
                    item 1
                </li>
                <li>
                    item 2
                </li>
                <li>
                    item 3
                </li>
            </ul>
        </div>
        <div class="col-3">
            <ul>
                <li>
                    item 1
                </li>
                <li>
                    item 2
                </li>
                <li>
                    item 3
                </li>
            </ul>
        </div>
        <div class="col-3">
            <ul>
                <li>
                    item 1
                </li>
                <li>
                    item 2
                </li>
                <li>
                    item 3
                </li>
            </ul>
        </div>
        <div class="col-3">
            <ul>
                <li>
                    item 1
                </li>
                <li>
                    item 2
                </li>
                <li>
                    item 3
                </li>
            </ul>
        </div>
    </div>    
</div>

<script>
    const loadCharacter = () => {
        var characterId = localStorage.getItem("characterId");
        var sessionId = localStorage.getItem("sessionId");

        if (!characterId || !sessionId) {
            return;
        }

        window.location.href = "/character/detailsOf?characterId=" + characterId + "&sessionId=" + sessionId;
    }

    const getCharacter = () => {

        var characterId = localStorage.getItem("characterId");
        var sessionId = localStorage.getItem("sessionId");

        $.ajax({
            type: 'GET',
            url: '@Url.Action("GetCharacter", "Character")' +
                '?characterId=' + encodeURIComponent(characterId) +
                '&sessionId=' + encodeURIComponent(sessionId),
            dataType: 'json',
            success: function (response) {
                localStorage.setItem("character", JSON.stringify(response));
                console.log(response);

                var charImageHtml = `
                        <img onclick="loadCharacter()" class="rounded-3 mt-3 pointer" src="${response.details.portrait}" width="60" height="80" title="Show character" />
                `

                $("#showContent").append(charImageHtml);
                $("#spinner").hide(500);
                $("#showContent").show();
            },
            error: function (xhr, status, error) {
                window.location.href = "/home/error?info=" + xhr.responseText;
            }
        });
    }

    // run logic
    getCharacter();
</script>
