@model Characters

@* Character/Details *@
<div class="row">
    <div class="col-8">
        <div class="btn-group btn-group-sm" role="group" aria-label="Basic example">
            <button class="btn btn-outline-secondary" onclick="navigateTo('/Character/Create')">Create</button>
            <button class="btn btn-secondary">Characters</button>
        </div>
    </div>
    <div class="col-4">
        <div id="spinner" class="spinner-grow text-secondary float-end" role="status" title="Loading...">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>
</div>

@if(Model.CharactersList.Count > 0) 
{
    <div class="container mt-3 footer-border" id="characters">
        <div class="row d-flex justify-content-between mt-3">
            <div class="col col-12 d-flex justify-content-start">
                @foreach (var character in Model.CharactersList)
                {
                    <img class="rounded-3 m-1 pointer"
                        onclick="loadCharacter('@character.Id')"
                        id="@character.Id"
                        src="@character.Portrait"
                        title="@character.Name"
                        width="60"
                        height="80" />
                }
            </div>
        </div>
    </div>
} 
else 
{
    <p class="mb-0 text-muted">No characters to show...</p>
}

<script>
    const loadCharacter = (characterId) => {
        var playerId = getPlayerId();

        if (!characterId || !playerId) {
            return;
        }

        navigateTo(`/Character/DetailsOf/${playerId}/${characterId}`);
    }

    // run logic
    $(document).ready(() => {
        hideLoading();
        logModel();
    });
</script>
