@model Duel

@* Townhall/Duel *@

<div class="row">
    <div class="col-8">
        <div class="btn-group btn-group-sm" role="group" aria-label="Basic example">
            <button type="button" class="btn btn-outline-secondary">Duel</button>
            <button type="button" class="btn btn-outline-dark">Tournament</button>
            <button type="button" class="btn btn-outline-dark">Quest</button>
            <button type="button" class="btn btn-outline-dark">Tavern</button>
            <button type="button" class="btn btn-outline-dark">Market</button>
            <button type="button" class="btn btn-outline-dark">Mercs</button>
        </div>
    </div>
    <div class="col-4">
        <div id="spinner" class="spinner-grow text-secondary float-end" role="status" title="Loading...">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>
</div>

<div class="container mt-3 footer-border">
    <div id="challengeBtn">
        <button onclick="fightNpc()" class="btn btn-sm btn-outline-secondary mt-3">Fight NPC</button>
    </div>
</div>

<script>
    const fightNpc = () => {

        var characterId = localStorage.getItem("characterId");
        var sessionId = localStorage.getItem("sessionId");

        if (!characterId || !sessionId) {
            return;
        }

        window.location.href = "/townhall/duelOf?characterId=" + characterId + "&sessionId=" + sessionId;
    }

    const hideLoading = () => {
        $(document).ready(() => {
            $("#spinner").hide(500);
        });
    }

    hideLoading();
</script>