@model CharacterDuel

@* Townhall/DuelOf *@

<div class="row">
    <div class="col-8">
        <div class="btn-group btn-group-sm" role="group" aria-label="Basic example">
            <button type="button" class="btn btn-outline-secondary">Duel</button>
            <button type="button" class="btn btn-outline-dark">Tournament</button>
            <button type="button" class="btn btn-outline-dark">Quest</button>
            <button type="button" class="btn btn-outline-dark">Tavern</button>
            <button type="button" class="btn btn-outline-dark">Market</button>
            <button type="button" class="btn btn-outline-dark">Mercs</button>
        </div>
    </div>
    <div class="col-4">
        <div id="spinner" class="spinner-grow text-secondary float-end" role="status" title="Loading...">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>
</div>

<div class="container mt-3 footer-border">
    <div class="row mt-3" id="battlequeue"> 
        battlequeue shown here
    </div>
    <div class="row mt-3" id="resultboard">
        resultboard shown here
    </div>
    <div class="row mt-3" id="battleboard"> 
        @* Character *@
        <div class="col-6" id="characterArea">
            <div class="float-end">
                <img class="rounded-3 m-2 pointer item-@Model.Character.Details.Entitylevel" src="@Model.Character.Details.Portrait" width="60" height="80" title="@Model.Character.Details.Name" />
            </div>
        </div>
        @* Npc *@
        <div class="col-6" id="npcArea">
            <div>
                <img class="rounded-3 m-2 pointer item-@Model.Npc.Details.Entitylevel" src="@Model.Npc.Details.Portrait" width="60" height="80" title="@Model.Npc.Details.Name" />
            </div>
        </div>
    </div>
</div>

<script>
   
    const hideLoading = () => {
        $(document).ready(() => {
            $("#spinner").hide(500);
        });
    }

    hideLoading();
</script>