html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.input-with-color {
    background-color: #7b8a8b;
    color: #000;
}

.form-select:hover{
    border-color: lightslategray;
}

.primary-green {
    color: #7b8a8b;
}

.primary-dark {
    color: #010504;
}

.footer-border {
    border-top: 1px solid;
    border-color: #7b8a8b;
}

.text-white {
    color: #fff;
}

.pointer {
    cursor: pointer;
}

.secondary-darkred {
    color: #8b00006e;
}

.secondary-darkyellow {
    color: #797720;
}

.secondary-darkgreen {
    color: #008b386e;
}

.item {
    width: 40px;
    height: 40px;
    opacity: 0.6;
    transition: opacity 0.3s ease;
}

.item:hover {
    opacity: 1;
    cursor: pointer;
}

.item-1 {
    border: 2px solid gray;
}

.item-2 {
    border: 2px solid green;
}

.item-3 {
    border: 2px solid lime;
}

.item-4 {
    border: 2px solid yellow;
}

.item-5 {
    border: 2px solid orange;
}

.item-6 {
    border: 2px solid purple;
}

.selected {
    border: 3px solid white;
}