html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.input-with-color {
    background-color: #7b8a8b;
    color: #000;
}

.form-select:hover{
    border-color: lightslategray;
}

.primary-green {
    color: #7b8a8b;
}

.primary-dark {
    color: #010504;
}

.footer-border {
    border-top: 1px solid;
    border-color: #7b8a8b;
}

.text-white {
    color: #fff;
}

.pointer {
    cursor: pointer;
}